@import url('bootstrap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.card{
    width: 18rem;
    margin-bottom: 10px;
    box-shadow: 2px 4px 6px black;
}

#logo{
    width: 350px;
    
}

.cover{
    border: solid black 4px;
}

header{
    border-bottom: solid black 2px;
}

footer{
    border-top: solid black 2px;
}

#reviewFilm{
    background-color: rgba(233, 16, 30);
    color: rgba(33, 37, 41);
    padding: 6px;
    border-radius: 20px;
    border: solid black 2px;
    text-shadow: white 2px 2px;
    width: 350px;
}

.callBack{
    text-decoration: none;
    color: rgba(33, 37, 41);
    font-weight: 600;
    background-color: rgba(233, 16, 30);
    padding: 6px;
    border-radius: 20px;
    border: solid black 2px;
    text-shadow: white 2px 2px;
    margin-bottom: 10px;
}

#bannerFilm{
    height: 900px;
}

.bannerIMG{
    height: 700px;
    margin-top: -30px;
    width: auto;
    margin-left: 80px;
}


.redText{
    color: rgba(233, 16, 30);
}

.mainDark{
    background-color: rgba(33, 37, 41);
}


.ButtoneReview{
    background-color: rgba(233, 16, 30);
    border-radius: 20px;
    border: solid black 2px;
    color: rgba(33, 37, 41);
    text-shadow: white 2px 2px;
}

.filmCard{
    background-image: url(./images/border.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}


.loaderPage{
    font-size: 50px;
}