@import url('bootstrap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.card{
    width: 18rem;
    margin-bottom: 10px;
    box-shadow: 2px 4px 6px black;
}

#logo{
    width: 350px;
    
}

.cover{
    border: solid black 4px;
}

header{
    border-bottom: solid black 2px;
}

footer{
    border-top: solid black 2px;
}

.callBack{
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: dodgerblue;
    padding: 6px;
    border-radius: 20px;
    border: solid black 2px;
    text-shadow: black 2px 2px;
    margin-bottom: 10px;
}